<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <div id="chat">
      <div id="room">
      </div>
      <input id="user" value="anonymous" maxlength="15">
      <input id="new-message" placeholder="type your message and press enter" autofocus>
    </div>

    <script type="text/template" id="message-template">
      <span class="user"><%= user %>:</span> <%= message %>
    </script>
    <script src="js/lib/jquery-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

    <script src="js/message.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/view.js"></script>
  </body>
</html>
